doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Color Boxes
    link(rel='stylesheet', href='/style.css')
  body
    h1 Color Boxes
    input#input(type='text' placeholder='Enter colors')
    button#color(type='button') Get Color
    #showColor  
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
